/* for large screens 1025px and up */
@media screen and (min-width: 1025px) {
    p {
        font-size: 20px;
    }
}

/* for small screens and laptops between 769px to 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card {
        position: relative;
        width: 170px;
        height: 140px;
    }
}

/* for medium size screens between 481px to 768px wide  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #board {
        grid-template-columns: repeat(3, auto);
        height: 590px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 26px;
    }

    .card {
        width: 145px;
        height: 135px;
    }

    h1,
    h2,
    p {
        color: #F39B3F
    }
}


/* for mobile devices 480px and down */
@media screen and (max-width: 480px) {
    #board {
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
        height: 620px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 26px;
    }

    .card {
        width: 145px;
        height: 90px;

    }

    h1,
    h2,
    p {
        color: #F39B3F
    }
}