/* for large screens 1025px and up */

/* for small screens and laptops between 769px to 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
   .card {
    position: relative;
    width: 170px;
    height: 140px;
   }
}

/* for medium size screens between 481px to 768px wide  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #board {
        grid-template-columns: repeat(3, auto);
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 26px;
    }

    p {
        text-align: center;
        margin-right: auto;
        margin-top: 39px;
    }
}


/* for small mobile devices */
@media screen and (max-width: 480px) {
   #board {
    grid-template-columns: repeat(2, auto);
} 
h1 {
    font-size: 50px;
}

h2 {
    font-size: 26px;
}

p {
    text-align: center;
    margin-right: auto;
    margin-top: 39px;
}
       
}