@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
body {
    font-family: 'Rowdies', sans-serif, cursive;
    background-color: #8a7c8d;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#card {
    position: relative;
    width: 100px;
    height: 100px;
}

.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #1b2d8f;
    backface-visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

