@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

body {
    font-family: 'Rowdies', sans-serif, cursive;
    background-color: #8a7c8d;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

p {
    text-align: center;
    margin-right: 370px;
    margin-top: 40px;
}

#board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    height: 350px;
    justify-content: center;
}

.card {
    position: relative;
    width: 180px;
    height: 140px;
}

.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #71179b;
    backface-visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}
