@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

body {
    font-family: 'Rowdies', sans-serif, cursive;
    background-image: radial-gradient(circle, #beb82f, #c77131, #a03849, #581e4d, #040e32);
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

h1,
h2, 
p {
    color: #0B0808
}

#game-rule {
    text-align: center;
}

#board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    height: 445px;
    justify-content: center;
}

.card {
    position: relative;
    width: 180px;
    height: 140px;
}

.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #ba64a8, #a05ea9, #8359a9, #6255a6, #6255a6, #6255a6, #6255a6, #8359a9, #a05ea9, #ba64a8, #d16ba5);
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

#score-area {
    display: flex;
    justify-content: space-evenly;
}